*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
}
.container .row .col-12{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container .row .col-3{
    text-align: center;
}
.container .row .col-3 i{
    color: blue;
    font-size: 30px;
    margin-bottom: 20px;
}
.container .row .col-3 h2{
    margin-bottom: 20px;
}

.container .row .col-3 p{
    color: #808080;
}

